<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Headers - 7</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/views/css/style.css" />
    <link rel="stylesheet" href="/views/css/about.css" />
  </head>
  <body>
    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <img src="https://images.gamebanana.com/img/ico/sprays/5432be1ea594a.png" id="demoicon">
        <div class="site-header__start">
          <a href="#" class="brand">DemoSwap</a>
        </div>
        <div class="site-header__middle">
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="#">Home</a></li>
              <li class="nav__item"><a href="#">About</a></li>
              <li class="nav__item"><a href="#">Create Trades</a></li>
              <li class="nav__item"><a href="#">Current Offers</a></li>
              <li class="nav__item"><a href="#">Recent Offers</a></li>
              <li class="nav__item"><a href="#">Trade History</a></li>
            </ul>
          </nav>
        </div>
        <div class="site-header__end">
          <a href="#" class="signInLink">Sign in</a>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- About Me Section Start -->
    <section class="about-me">
      <div class="wrapper">
        <div class="bubble grow left">Welcome to DemoSwap, your go-to platform for simplified TF2 trading! We've created a space where trading in Team Fortress 2 becomes easier and more efficient. Our user-friendly interface allows you to discover other player trades effortlessly and enables you to create your own trades hassle-free. Whether you're looking to swap items, find the latest offers, or review trade history, DemoSwap is the community-driven solution for TF2 enthusiasts. Join us today and experience a seamless trading experience!</div>
        <img src="https://wiki.teamfortress.com/w/images/thumb/9/98/Taunt_Oblooterated.png/250px-Taunt_Oblooterated.png" id="demo">
      </div>
    </section>
    <!-- About Me Section End -->

    <script src="nav.js"></script>
  </body>
</html>
