<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Headers - 7</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/about.css" />
    <link rel="stylesheet" href="./css/login.css" />
  </head>
  <body>
    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <img src="https://images.gamebanana.com/img/ico/sprays/5432be1ea594a.png" id="demoicon">
        <div class="site-header__start">
          <a href="#" class="brand">DemoSwap</a>
        </div>
        <div class="site-header__middle">
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="#">Home</a></li>
              <li class="nav__item"><a href="#">About</a></li>
              <li class="nav__item"><a href="#">Create Trades</a></li>
              <li class="nav__item"><a href="#">Current Offers</a></li>
              <li class="nav__item"><a href="#">Recent Offers</a></li>
              <li class="nav__item"><a href="#">Trade History</a></li>
            </ul>
          </nav>
        </div>
        <div class="site-header__end">
          <a href="/login" class="signInLink">Sign in</a>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- About Me Section Start -->
    <main>
      {{{ body }}}
    </main>
    <!-- About Me Section End -->

    <script src="./js/nav.js"></script>
  </body>
</html>
