<section class="about-me">
    <div class="wrapper">
        <p class="bubble grow left">
            Welcome to DemoSwap, your go-to platform for simplified TF2 trading! We've created a space where trading in Team Fortress 2 becomes easier and more efficient. Our user-friendly interface allows you to discover other player trades effortlessly and enables you to create your own trades hassle-free. Whether you're looking to swap items, find the latest offers, or review trade history, DemoSwap is the community-driven solution for TF2 enthusiasts. Join us today and experience a seamless trading experience!
        </p>
        <img src="https://wiki.teamfortress.com/w/images/thumb/9/98/Taunt_Oblooterated.png/250px-Taunt_Oblooterated.png" id="demo">
    </div>
</section>