body {
    background-color: #6e6565;
    margin: 0; /* Remove default margin */
  }

  .container {
    position: relative;
    margin: 20px;
  }

  #demo {
    width: 500px;
    height: auto;
    position: absolute;
    top: 280px;
    left: 200px;
  }
  

  .bubble {
    position: relative;
    display: inline-block;
    left: 35rem;
    top: 200px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    line-height: 1.3em;
    background-color: #fff;
    color: #000;
    padding: 12px;
    box-shadow: 0 -4px #fff, 0 -8px #000, 4px 0 #fff, 4px -4px #000, 8px 0 #000, 0 4px #fff, 0 8px #000, -4px 0 #fff, -4px 4px #000, -8px 0 #000, -4px -4px #000, 4px 4px #000;
    box-sizing: border-box;
    width: 200px;
  }

  .bubble::after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
  }

  .bubble.shadow {
    box-shadow: 0 -4px #fff, 0 -8px #000, 4px 0 #fff, 4px -4px #000, 8px 0 #000, 0 4px #fff, 0 8px #000, -4px 0 #fff, -4px 4px #000, -8px 0 #000, -4px -4px #000, 4px 4px #000, 4px 12px rgba(0, 0, 0, 0.1), 12px 4px rgba(0, 0, 0, 0.1), 8px 8px rgba(0, 0, 0, 0.1);
  }

  .bubble.grow {
    width: 560px;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
  }

  .bubble.left::after {
    height: 4px;
    width: 4px;
    top: 20px;
    left: -8px;
    background: white;
    box-shadow: -4px -4px #fff, -4px 0 #fff, -8px 0 #fff, 0 -8px #fff, -4px 4px #000, -8px 4px #000, -12px 4px #000, -16px 4px #000, -12px 0 #000, -8px -4px #000, -4px -8px #000, 0 -4px #fff;
  }

  @media (max-width: 1100px) {
    #demo {
      width: 40vw;
      position: relative;
      left: 0;
      top: 5vh;
    }
    .bubble {
      width: 40vw;
      left: 0;
      top: 10vh;
    }
    .bubble.grow {
      font-size: 2vw;
      width: 40vw;
    }
  }